@font-face {
  font-family: 'MyriadPro';
  src: url("/grandTitul/fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"),
  url("/grandTitul/fonts/MyriadPro-Regular/MyriadPro-Regular.otf") format("opentype"),
  url("/grandTitul/fonts/MyriadPro-Regular/MyriadPro-Regular.woff") format("woff"),
  url("/grandTitul/fonts/MyriadPro-Regular/MyriadPro-Regular.ttf") format("truetype"),
  url("/grandTitul/fonts/MyriadPro-Regular/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url("/grandTitul/fonts/MyriadPro-Semibold/MyriadPro-Semibold.eot?#iefix") format("embedded-opentype"),
  url("/grandTitul/fonts/MyriadPro-Semibold/MyriadPro-Semibold.otf") format("opentype"),
  url("/grandTitul/fonts/MyriadPro-Semibold/MyriadPro-Semibold.woff") format("woff"),
  url("/grandTitul/fonts/MyriadPro-Semibold/MyriadPro-Semibold.ttf") format("truetype"),
  url("/grandTitul/fonts/MyriadPro-Semibold/MyriadPro-Semibold.svg#MyriadPro-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
}

