@import "normalize/import-now";
@import "font";

* {
  //cursor: help;
  cursor: none;
  box-sizing: border-box;
}

body {
  height: 100%;
  min-width: 320px;
  background: #d3cbb8;
  font: 400 18px/24px "Myriad Pro", Verdana;
  color: #000;
}

:focus {
  outline: none;
}

.main-page {
}

.container {
  width: 1920px;
  margin: 0 auto;
  padding: 50px 86px 60px;
}


.title-page {
  //height: 168px;
  //line-height: 168px;
  //margin: 0;
  padding-right: 340px;
  font: 400 48px/1 "Myriad Pro";
  text-transform: uppercase;
  text-align: center;
}



@import "departments/styles";
@import "button/styles";
@import "input/styles";


@import "owl-carousel/common";