            <!-- центральный блок -->
            <ul class="departments__list">

                <li class="departments__item departments__item_carousel">

                    <?
                        include "template/carousel.html";
                    ?>


                </li>
                <!-- левый столбец кнопок -->
                <li class="departments__item departments__item_invested">
                    <!-- верхний  мелкий -->
                    <ul class="departments__list">
                        <li class="departments__item departments__item_bank">
                            <!--  -->
                            <button class="btn btn_theme btn_theme-brown" data-link="url-page">
                                <span class="btn__background">
                                    <span class="btn__pic btn__pic_bank-zenit"></span>
                                </span>
                                <span class="btn__text">
                                    отделение банка зенит
                                </span>
                            </button>
                            <!-- /  -->
                        </li>
                    </ul>
                    <!-- /верхний  мелкий -->
                    <!-- средний  мелкий -->
                    <ul class="departments__list">
                        <li class="departments__item departments__item_bank">
                            <!--   -->
                            <button class="btn btn_theme btn_theme-gray" data-link="url-page">
                                <span class="btn__background btn__background_two-lines">
                                    <span class="btn__pic btn__pic_card-payment"></span>
                                </span>
                                <span class="btn__text btn__text_two-lines">
                                    касса оплаты<br>безналичным расчетом
                                </span>
                            </button>
                            <!-- /  -->
                        </li>
                    </ul>
                    <!-- /средний  мелкий -->
                    <!-- нижний мелкий  -->
                    <ul class="departments__list">
                        <li class="departments__item departments__item_bank">
                            <!--   -->
                            <button class="btn btn_theme btn_theme-lightgray" data-link="url-page">
                                <span class="btn__background">
                                    <span class="btn__pic btn__pic_credit"></span>
                                </span>
                                <span class="btn__text">
                                    кредитные специалисты
                                </span>
                            </button>
                            <!-- /  -->
                        </li>
                    </ul>
                    <!-- /нижний мелкий  -->
                </li>
                <!-- /левый столбец кнопок -->
                <!-- правый столбец кнопок -->
                <li class="departments__item  departments__item_invested">
                    <!-- верхний  мелкий -->
                    <ul class="departments__list">
                        <li class="departments__item departments__item_bank">
                            <!--   -->
                            <button class="btn btn_theme" data-link="url-page">
                                <span class="btn__background">
                                    <span class="btn__pic btn__pic_cash-payment"></span>
                                </span>
                                <span class="btn__text">
                                    касса оплаты наличными
                                </span>
                            </button>
                            <!--  / -->
                        </li>
                    </ul>
                    <!-- /верхний  мелкий -->
                    <!-- средний  мелкий -->
                    <ul class="departments__list">
                        <li class="departments__item departments__item_bank">
                            <!--   -->
                            <button class="btn btn_theme btn_theme-lightgray" data-link="url-page">
                                <span class="btn__background">
                                    <span class="btn__pic btn__pic_exchange-euro"></span>
                                </span>
                                <span class="btn__text">
                                    обмен валюты
                                </span>
                            </button>
                            <!-- /  -->
                        </li>
                    </ul>
                    <!-- /средний  мелкий -->
                    <!-- нижний мелкий  -->
                    <ul class="departments__list">
                        <li class="departments__item departments__item_bank">
                            <!--   -->

                            <!--  / -->
                        </li>
                    </ul>
                    <!-- /нижний мелкий  -->
                </li>
                <!-- /правый столбец кнопок -->
            </ul>
            <!-- /центральный блок -->

