<!-- carousel -->
<div class="container container_grand container_carousel">
    <div id="grand-carousel" class="owl-carousel">
        <!-- слайдер 1-->
        <div class="item-carousel">
            <img src="/grandTitul/img/slider/main.png" alt="">
        </div>
        <!-- /слайдер 1-->
        <!-- слайдер 2-->
        <div class="item-carousel">
            <img src="/grandTitul/img/slider/restaurant.png" alt="">
        </div>
        <!-- /слайдер 2-->
    </div>
</div>
<!-- /carousel -->