
<!-- верхний ряд кнопок-->
<ul class="departments__list">
    <li class="departments__item">
        <!--  Диваны-Кресла -->
        <button class="btn btn_theme" id="sofa" data-link="url-page">
                        <span class="btn__background">
                            <span class="btn__pic btn__pic_sofa"></span>
                        </span>
            <span class="btn__text">Диваны/Кресла</span>
        </button>
        <!-- /Диваны-Кресла  -->
    </li>

    <li class="departments__item">
        <!--  Кухни -->
        <button class="btn btn_theme btn_theme-gray" id="kitchen" data-link="url-page">
                        <span class="btn__background">
                            <span class="btn__pic btn__pic_kitchen"></span>
                        </span>
            <span class="btn__text">Кухни</span>
        </button>
        <!--  /Кухни -->
    </li>

    <li class="departments__item">
        <!-- Сантехника  -->
        <button class="btn btn_theme btn_theme-lightgray" id="sanitary" data-link="url-page">
                        <span class="btn__background">
                            <span class="btn__pic btn__pic_sanitary"></span>
                        </span>
            <span class="btn__text">Сантехника</span>
        </button>
        <!-- /Сантехника  -->
    </li>

    <li class="departments__item">
        <!-- Кровати-Матрасы  -->
        <button class="btn btn_theme" id="bed" data-link="url-page">
                        <span class="btn__background">
                            <span class="btn__pic btn__pic_bed"></span>
                        </span>
            <span class="btn__text">Кровати/Матрасы</span>
        </button>
        <!-- /Кровати-Матрасы  -->
    </li>
</ul>
<!-- /верхний ряд кнопок-->

<!-- центраьный ряд кнопок-->
<ul class="departments__list">
    <li class="departments__item departments__item_invested">
        <!-- верхний  мелкий -->
        <ul class="departments__list">
            <li class="departments__item">
                <!-- Столы-Стулья  -->
                <button class="btn btn_theme btn_theme-brown" id="table-chair"
                        data-link="url-page">
                                <span class="btn__background">
                                    <span class="btn__pic btn__pic_table-chair"></span>
                                </span>
                    <span class="btn__text">Столы/Стулья</span>
                </button>
                <!-- /Столы-Стулья  -->
            </li>
        </ul>
        <!-- /верхний  мелкий -->
        <!-- нижний мелкий  -->
        <ul class="departments__list">
            <li class="departments__item">
                <!--  Детская мебель -->
                <button class="btn btn_theme btn_theme-gray" id="children-furniture"
                        data-link="url-page">
                                <span class="btn__background">
                                    <span class="btn__pic btn__pic_children-furniture"></span>
                                </span>
                    <span class="btn__text">Детская мебель</span>
                </button>
                <!-- /Детская мебель  -->
            </li>
        </ul>
        <!-- /нижний мелкий  -->
    </li>

    <li class="departments__item departments__item_main">
        <!--  Салоны -->
        <button class="btn btn_theme" id="salons" data-link="url-page">
                        <span class="btn__background btn__background_salons">
                            <span class="btn__pic btn__pic_salons"></span>
                        </span>
            <span class="btn__text btn__text_salons">Салоны</span>
        </button>
        <!-- /Салоны  -->
    </li>

    <li class="departments__item  departments__item_invested">
        <!-- верхний  мелкий -->
        <ul class="departments__list">
            <li class="departments__item">
                <!--  Свет -->
                <button class="btn btn_theme btn_theme-brown" id="light" data-link="url-page">
                                <span class="btn__background">
                                    <span class="btn__pic btn__pic_light"></span>
                                </span>
                    <span class="btn__text">Свет</span>
                </button>
                <!--  /Свет -->
            </li>
        </ul>
        <!-- /верхний  мелкий -->
        <!-- нижний мелкий  -->
        <ul class="departments__list">
            <li class="departments__item">
                <!--  Шкафы -->
                <button class="btn btn_theme btn_theme-lightgray" id="wardrobe"
                        data-link="url-page">
                                <span class="btn__background">
                                    <span class="btn__pic btn__pic_wardrobe"></span>
                                </span>
                    <span class="btn__text">Шкафы</span>
                </button>
                <!--  /Шкафы -->
            </li>
        </ul>
        <!-- /нижний мелкий  -->
    </li>
</ul>
<!-- /центраьный ряд кнопок-->
<!-- Нижний ряд кнопок-->
<ul class="departments__list">
    <li class="departments__item">
        <!-- Другое  -->
        <button class="btn btn_theme btn_theme-lightgray" id="other" data-link="url-page">
                        <span class="btn__background">
                            <span class="btn__pic btn__pic_other"></span>
                        </span>
            <span class="btn__text">Другое</span>
        </button>
        <!-- /Другое  -->
    </li>

    <li class="departments__item">
        <!--  Рестораны и кафе -->
        <button class="btn btn_theme btn_theme-gray" id="restaurant" data-link="url-page">
                        <span class="btn__background">
                            <span class="btn__pic btn__pic_restaurant"></span>
                        </span>
            <span class="btn__text">Рестораны и кафе</span>
        </button>
        <!-- /Рестораны и кафе  -->
    </li>

    <li class="departments__item  departments__item_invested">
        <!-- верхний  мелкий -->
        <ul class="departments__list">
            <li class="departments__item departments__item_small">
                <!-- Информация-Услуги  -->
                <button class="btn btn_theme btn_theme_small btn_theme-lightgray" id="info"
                        data-link="url-page">
                    <span class="btn__img btn__img_info btn__img_small"></span>
                    <span class="btn__text btn__text_small">
                                    <span class="btn__text-word">Информация/Услуги</span>
                                </span>
                </button>
                <!-- /Информация-Услуги  -->
            </li>
        </ul>
        <!-- /верхний  мелкий -->
        <!-- нижний мелкий  -->
        <ul class="departments__list">
            <li class="departments__item departments__item_small">
                <!-- Акции и скидки  -->
                <button class="btn btn_theme btn_theme_small" id="discounts"
                        data-link="url-page">
                    <span class="btn__img btn__img_discounts btn__img_small"></span>
                    <span class="btn__text btn__text_small">
                                    <span class="btn__text-word btn__text-word_discounts">Акции и скидки</span>
                                </span>
                </button>
                <!--  /Акции и скидки -->
            </li>
        </ul>
        <!-- /нижний мелкий  -->
    </li>

    <li class="departments__item  departments__item_invested">
        <!-- верхний  мелкий -->
        <ul class="departments__list">
            <li class="departments__item departments__item_small">
                <!--  Туалет -->
                <button class="btn btn_theme btn_theme_small  btn_theme-brown" id="toilet"
                        data-link="url-page">
                    <span class="btn__img btn__img_toilet  btn__img_opposite"></span>
                    <span class="btn__text btn__text_small">
                                    <span class="btn__text-word btn__text-word_opposite">Туалет</span>
                                </span>
                </button>
                <!-- /Туалет  -->
            </li>
        </ul>
        <!-- /верхний  мелкий -->
        <!-- нижний мелкий  -->
        <ul class="departments__list">
            <li class="departments__item departments__item_small">
                <!--  Где я? -->
                <button class="btn btn_theme btn_theme_small" id="where" data-link="url-page">
                    <span class="btn__img btn__img_where btn__img_opposite-where"></span>
                    <span class="btn__text btn__text_small">
                                    <span class="btn__text-word btn__text-word_opposite-where ">Где я?</span>
                                </span>
                </button>
                <!--  /Где я? -->
            </li>
        </ul>
        <!-- /нижний мелкий  -->
    </li>
</ul>
<!-- /Нижний ряд кнопок-->