<!-- Поиск -->
<form action="">
    <section class="form-search">
        <div class="form-search__input">
            <div class="input-inner">
                <div class="input-inner__location">
                    <input class="input-inner__control" type="text" name="search">
                </div>

                <div class="input-inner__addon">
                    <span class="addon-img"></span>
                </div>

            </div>
        </div>
        <div class="form-search__button">
            <button class="btn btn_search" type="submit">
                Найти
            </button>
        </div>

    </section>
</form>
<!-- /Поиск -->