            <!-- центральный блок -->
            <ul class="departments__list">

                <li class="departments__item departments__item_carousel">

                    <?
                        include "template/carousel.html";
                    ?>


                </li>
                <!-- левый столбец кнопок -->
                <li class="departments__item departments__item_invested">
                    <!-- верхний  мелкий -->
                    <ul class="departments__list">
                        <li class="departments__item departments__item_info">
                            <!--  -->
                            <button class="btn btn_theme btn_theme-brown" data-link="url-page">
                                <span class="btn__background btn__background_two-lines">
                                    <span class="btn__pic btn__pic_exchange"></span>
                                </span>
                                <span class="btn__text btn__text_two-lines">
                        Банки/кассы <br>
                    обмен валюты
                    </span>
                            </button>
                            <!-- /  -->
                        </li>
                    </ul>
                    <!-- /верхний  мелкий -->
                    <!-- средний  мелкий -->
                    <ul class="departments__list">
                        <li class="departments__item departments__item_info">
                            <!--   -->
                            <button class="btn btn_theme btn_theme-gray" data-link="url-page">
                                <span class="btn__background">
                                    <span class="btn__pic btn__pic_info"></span>
                                </span>
                                <span class="btn__text">Стойки информации</span>
                            </button>
                            <!-- /  -->
                        </li>
                    </ul>
                    <!-- /средний  мелкий -->
                    <!-- нижний мелкий  -->
                    <ul class="departments__list">
                        <li class="departments__item departments__item_info">
                            <!--   -->
                            <button class="btn btn_theme btn_theme-lightgray" data-link="url-page">
                                <span class="btn__background">
                                    <span class="btn__pic btn__pic_playroom"></span>
                                </span>
                                <span class="btn__text">детская комната</span>
                            </button>
                            <!-- /  -->
                        </li>
                    </ul>
                    <!-- /нижний мелкий  -->
                </li>
                <!-- /левый столбец кнопок -->
                <!-- правый столбец кнопок -->
                <li class="departments__item  departments__item_invested">
                    <!-- верхний  мелкий -->
                    <ul class="departments__list">
                        <li class="departments__item departments__item_info">
                            <!--   -->
                            <button class="btn btn_theme" data-link="url-page">
                                <span class="btn__background">
                                    <span class="btn__pic btn__pic_atm"></span>
                                </span>
                                <span class="btn__text">банкоматы</span>
                            </button>
                            <!--  / -->
                        </li>
                    </ul>
                    <!-- /верхний  мелкий -->
                    <!-- средний  мелкий -->
                    <ul class="departments__list">
                        <li class="departments__item departments__item_info">
                            <!--   -->
                            <button class="btn btn_theme btn_theme-lightgray" data-link="url-page">
                                <span class="btn__background btn__background_two-lines">
                                    <span class="btn__pic btn__pic_delivery"></span>
                                </span>
                                <span class="btn__text btn__text_two-lines">
                        Доставка/сборка
                        реставрация
                    </span>
                            </button>
                            <!-- /  -->
                        </li>
                    </ul>
                    <!-- /средний  мелкий -->
                    <!-- нижний мелкий  -->
                    <ul class="departments__list">
                        <li class="departments__item departments__item_info">
                            <!--   -->
                            <button class="btn btn_theme btn_theme-gray" data-link="url-page">
                                <span class="btn__background">
                                    <span class="btn__pic btn__pic_checkroom"></span>
                                </span>
                                <span class="btn__text">гардероб</span>
                            </button>
                            <!--  / -->
                        </li>
                    </ul>
                    <!-- /нижний мелкий  -->
                </li>
                <!-- /правый столбец кнопок -->
            </ul>
            <!-- /центральный блок -->
