<!-- Панель навигации -->
<ul class="departments__list departments__list_nav">
    <li class="departments__item departments__item_home">
        <!-- Домой  -->
        <button class="btn btn_theme">
            <span class="btn__background btn__background_nav">
                <span class="btn__pic btn__pic_home"></span>
            </span>
        </button>
        <!-- /Домой  -->
    </li>
    <li class="departments__item departments__item_home">
        <!-- возврат  -->
        <button class="btn btn_theme">
            <span class="btn__background btn__background_nav">
                <span class="btn__pic btn__pic_arrow"></span>
            </span>
        </button>
        <!-- / возврат -->
    </li>
    <li class="departments__item departments__item_home  departments__item_subject">
        <!--  Заголовок страницы -->
        <h1 class="title-page">
            Заголовок соотвествующего раздела
        </h1>
        <!-- /Заголовок страницы  -->
    </li>
</ul>
<!-- /Панель навигации -->