
.lora {
  position: relative;

  &_logo,
  &_floor {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
  }

  &__list {
    display: inline-block;


    &_logo {


    }
    &_floor {

    }
  }

  &__item {
    display: inline-block;

    &_logo {
      border: 6px solid #dbd3c4;
      border-radius: 24px;
      color: #0d0000;

    }
    &_floor {

    }

    a {
      float: left;
      font: 400 48px/1 "Myriad Pro", Verdana, Arial, Helvetica, sans-serif;
      padding: 0 16px;
      text-decoration: none;
      color: inherit;
    }

    &_active,
    &_prev,
    &_next {
      border: 6px solid #fff;
      border-radius: 24px;
    }

    &_prev,
    &_next {
      width: 69px;
      height: 60px;
    }

    &_prev {
      background: url("/grandTitul/img/nav/arrow-prev.png") 50% 50% no-repeat;
    }
    &_next {
      background: url("/grandTitul/img/nav/arrow-next.png") 50% 50% no-repeat;
    }

  }
}
