.actions {

  &__btn {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 160px;
    height: 80px;
    text-align: center;
  }
  &__picture {
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 15px;
    width: 333px;
    //height: 100%;
    text-align: center;
  }
  &__img {
    position: absolute;
    top: 0;
    bottom: 0px;
    right: 0;
    left: 0;
    margin: auto;
  }

  &__contact {
    position: absolute;
    top: 12px;
    right: 15px;
    width: 160px;
    height: 80px;
    font: 700 14px/1.2 "Myriad Pro", Verdana, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
  }

  &__text,
  &__content {
    font: 400 10px/1.2 "Myriad Pro", Verdana, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: left;

  }

  &__text {
    position: absolute;
    top: 12px;
    left: 365px;
    width: 300px;
    height: 170px;
    color: #0d0000;
  }
  &__content {
    margin: 0 0 15px;
  }

}

/*


.actions {

  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 160px;
  height: 80px;

  &__ {

    text-align: center;
    width: 100%;
    font: 400 24px/1 "Myriad Pro", Verdana, Arial, Helvetica, sans-serif;
    text-transform: uppercase;

  }

}


*/
