.departments {

  &__list {
    display: table;
    width: 100%;
    padding: 0;
    margin: 0;
    &_nav {
      margin: 23px 0 24px; // 18px 0 24px
    }
  }

  &__item {
    display: table-cell;
    list-style-type: none;
    width: 25%;
    height: 222px;
    padding: 5px;
    vertical-align: top;

    &_invested {
      padding: 0;
    }
    &_main {
      width: 50%;
    }
    &_small {
      height: 110px;
    }
    &_restaurant {
      height: 221px;
    }

    &_home {
      height: 178px;
      width: 178px;



    }
    &_subject {
      width: auto;
      padding: 0;
      margin: 0;
      vertical-align: middle;
    }



    /*

      & > ul:first-child > & {
        padding-top: 0;
      }
      & > ul:last-child > & {
        padding-bottom: 0;
      }
      & > ul > & {
        padding-left: 0;
        padding-right: 0;
      }
    }

    */

  }

}