.departments {

  &__list {
    display: table;
    width: 100%;
    padding: 0;
    margin: 0;
    &_nav {
      margin: 23px 0 24px; // 18px 0 24px
    }

  }

  &__item {
    display: table-cell;
    list-style-type: none;
    width: 25%;
    height: 222px;
    padding: 5px;
    vertical-align: top;

    &_alphabet-sorting {
      width: 424px;
    }

    // inner block
    &_invested {
      padding: 0;
    }
    &_main {
      width: 50%;
    }
    &_small {
      height: 110px;
    }
    &_middle {
      height: 96px;
    }

    &_pagination {
      height: 100px;
    }

    &_sorting {
      height: 449px;
      position: relative;
    }

    &_restaurant,
    &_bank,
    &_info {
      height: 220px;
    }

    &_home {
      height: 178px;
      width: 178px;
    }
    &_subject {
      width: auto;
      padding: 0;
      margin: 0;
      vertical-align: middle;
    }

    &_carousel {
      width: 866px;
    }
    &_gate {
      width: auto;
    }
    &_gate-height {
      height: 562px;
    }

    &_sorting-height {
      height: 652px;
    }

    &_sorting {
      width: auto;
    }


    /*

      & > ul:first-child > & {
        padding-top: 0;
      }
      & > ul:last-child > & {
        padding-bottom: 0;
      }
      & > ul > & {
        padding-left: 0;
        padding-right: 0;
      }
    }

    */

  }

}