
.btn {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: #0d0000;
  font: 400 24px "Myriad Pro", Verdana, Arial, Helvetica, sans-serif;
  text-transform: uppercase;

  &_search {
    display: block;
    width: 100%; //202px
    height: 82px;
    padding: 0;
    font: 400 24px "Myriad Pro", Verdana, Arial, Helvetica, sans-serif;
    border: 6px solid #fff;
    border-radius: 24px;
    background-color: #d1c1a7;
  }
  &_theme {
    border: 6px solid #fff;
    border-radius: 24px;
    background-color: #d1c1a7;

    /*    &:hover {
          opacity: .6;
          -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
        }*/

    &_small {
      height: 100%;
    }

    &-brown {
      background-color: #ac9b87;
    }
    &-lightbrown {
      background-color: #dbd3c4;
    }
    &-gray {
      background-color: #989793;
    }

    &-lightgray {
      background-color: #dad2c3;
    }


  }


  .btn__background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 159px;

    &_nav {
      height: 146px;
    }

    &_salons {
      height: 333px;
    }

    &_two-lines {
      height: 146px;
    }

  }

  &__pic,
  &__img {
    display: block;
    position: absolute;
  }

  &__pic {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url(/grandTitul/img/sprite.png);
    background-repeat: no-repeat;

    //  Logo restaurant
    &_cafe {

      &-fountain {
        width: 90px;
        height: 91px;
        background-position: 0 -653px;
      }
      &-estetica {
        width: 257px;
        height: 36px;
        background-position: -100px -653px;
      }
      &-unico {
        width: 199px;
        height: 77px;
        margin-bottom: 23px;
        background-position: -365px -653px;
      }
      &-kivayaki {
        width: 234px;
        height: 55px;
        background-position: -100px -695px;
      }
      &-intepior {
        width: 283px;
        height: 27px;
        //margin-bottom: px;
        background-position: -365px -616px;
      }
      &-vostochnoe {
        width: 90px;
        height: 91px;
        background-position: 0 -653px;
      }
    }


    // navigation
    &_home {
      width: 82px;
      height: 64px;
      background-position: -507px -339px;
    }
    &_arrow {
      width: 60px;
      height: 60px;
      background-position: -434px -339px;
    }

    // first page
    &_sofa {
      width: 154px;
      height: 108px;
      background-position: -9px -16px;
    }
    &_kitchen {
      width: 168px;
      height: 107px;
      background-position: -175px -16px;
    }
    &_sanitary {
      width: 132px;
      height: 124px;
      background-position: -369px 0;
    }
    &_bed {
      width: 144px;
      height: 88px;
      background-position: -537px -36px;
    }
    &_table-chair {
      width: 151px;
      height: 107px;
      background-position: -187px -264px;
    }
    &_children-furniture {
      width: 120px;
      height: 120px;
      background-position: -551px -128px;
    }
    &_light {
      width: 106px;
      height: 111px;
      background-position: -384px -137px;
    }
    &_wardrobe {
      width: 107px;
      height: 107px;
      background-position: -207px -140px;
    }
    &_other {
      width: 113px;
      height: 94px;
      background-position: -31px -277px;
    }
    &_restaurant {
      width: 152px;
      height: 104px;
      background-position: -9px -143px;
    }
    &_salons {
      width: 245px;
      height: 245px;
      background-position: 0 -389px;
    }


    // info
    &_exchange {
      width: 131px;
      height: 85px;
      background-position: -263px -412px;
    }

    &_info {
      width: 26px;
      height: 98px;
      background-position: -263px -508px;
    }

    &_playroom {
      width: 132px;
      height: 119px;
      background-position: -665px -627px;
    }

    &_atm {
      width: 86px;
      height: 123px;
      background-position: -699px 0;
    }

    &_delivery {
      width: 167px;
      height: 114px;
      background-position: -409px -412px;
    }


    &_checkroom {
      width: 144px;
      height: 102px;
      background-position: -653px -309px;
    }

      // bank


    &_bank-zenit {
      width: 152px;
      height: 105px;
      background-position: -585px -420px;
    }
    &_card-payment{
      width: 129px;
      height: 113px;
      background-position: -671px -182px;
    }
    &_credit {
      width: 99px;
      height: 128px;
      background-position: -798px 0;
    }
    &_cash-payment {
      width: 160px;
      height: 104px;
      background-position: -765px -425px;
    }
    &_exchange-euro {
      width: 126px;
      height: 111px;
      background-position: -818px -134px;
    }



    /*
  &_ {
     width: px;
     height: px;
     background-position: -px -px;
   }

    */









  }

  &__img {
    top: 23px;
    left: 50%;
    width: 174px;
    height: 124px;
    margin-left: -87px;
    background-image: url(/grandTitul/img/sprite.png);
    background-repeat: no-repeat;

    &_small,
    &_opposite,
    &_opposite-where {
      top: 8px;
      width: 68px;
      height: 68px;
    }

    &_small {
      left: 10px;
    }
    &_opposite {
      left: 310px;
    }

    &_opposite-where {
      left: 329px;
    }
    /*

    &_sofa {
      background-position: 0 0;
    }
    &_kitchen {
      background-position: -176px 0;
    }
    &_sanitary {
      background-position: -346px 0;
    }
    &_bed {
      background-position: -520px 0;
    }
    &_table-chair {
      background-position: -174px -251px;
    }
    &_children-furniture {
      background-position: -524px -127px;
    }
    &_light {
      background-position: -350px -129px;
    }
    &_wardrobe {
      background-position: -172px  -127px;
    }
    &_other {
      background-position: -5px -256px;
    }
    &_restaurant {
      background-position: 3px -129px;
    }

    &_salons {
      top: 47px;
      width: 245px;
      height: 245px;
      margin-left: -125px;
      background-position: 0 -389px;
    }
    */
    &_info,
    &_discounts,
    &_toilet,
    &_where {
      margin-left: 0;
    }
    &_info {
      background-position: -603px -260px;
    }
    &_discounts {
      background-position: -357px -263px;
    }
    &_toilet {
      background-position: -520px -261px;
    }
    &_where {
      background-position: -438px -261px;
    }

  }

  &__text {
    position: absolute;
    left: 0;
    bottom: 16px;  // 12
    display: block;
    text-align: center;
    width: 100%;
    //font: inherit;
    font: 400 30px/0.9 "Myriad Pro", Verdana, Arial, Helvetica, sans-serif;

    &_salons {
      font: 400 61px/1.1 "Myriad Pro", Verdana, Arial, Helvetica, sans-serif;
      bottom: 36px;
      letter-spacing: 3px;
    }
    &_two-lines {
      bottom: 3px;
    }

    &_small {
      bottom: 50%;
      margin-bottom: -17px;
      & .btn__text-word {
        padding-left: 34px;
        &_discounts {
          padding-left: 73px;
        }
        &_opposite {
          padding-left: 0;
          padding-right: 74px;
        }
        &_opposite-where {
          padding-left: 0;
          padding-right: 50px;
        }
      }
    }

  }
}