
.btn {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: #0d0000;
  font: 400 24px "Myriad Pro";
  text-transform: uppercase;

  &_search {
    display: block;
    width: 100%; //202px
    height: 82px;
    padding: 0;
    font: 400 24px "Myriad Pro";
    border: 6px solid #fff;
    border-radius: 24px;
    background-color: #d1c1a7;
  }
  &_theme {
    border: 6px solid #fff;
    border-radius: 24px;
    background-color: #d1c1a7;

    /*    &:hover {
          opacity: .6;
          -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
        }*/

    &_small {
      height: 100%;
    }

    &-brown {
      background-color: #ac9b87;
    }
    &-gray {
      background-color: #989793;
    }

    &-lightgray {
      background-color: #b9b9b9;
    }

  }

  .btn__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 159px;

    &_nav {
      height: 146px;
    }
  }

  &__pic {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url(/grandTitul/img/sprite_new.png);
    background-repeat: no-repeat;

    //  Logo restaurant
    &_cafe {

      &-fountain {
        width: 90px;
        height: 91px;
        background-position: 0 -653px;
      }
      &-estetica {
        width: 257px;
        height: 36px;
        background-position: -100px -653px;
      }
      &-unico {
        width: 199px;
        height: 77px;
        margin-bottom: 23px;
        background-position: -365px -653px;
      }
      &-kivayaki {
        width: 234px;
        height: 55px;
        background-position: -100px -695px;
      }
      &-intepior {
        width: 283px;
        height: 27px;
        //margin-bottom: px;
        background-position: -365px -616px;
      }
      &-vostochnoe {
        width: 90px;
        height: 91px;
        background-position: 0 -653px;
      }
    }

    // navigation

    &_home {
      width: 82px;
      height: 64px;
      background-position: -507px -339px;
    }
    &_arrow {
      width: 60px;
      height: 60px;
      background-position: -434px -339px;
    }

  }

  &__img {
    display: block;
    position: absolute;
    top: 23px;
    left: 50%;
    width: 174px;
    height: 124px;
    margin-left: -87px;

    background-image: url(/grandTitul/img/sprite_new.png);
    background-repeat: no-repeat;

    &_small,
    &_opposite,
    &_opposite-where {
      top: 8px;
      width: 68px;
      height: 68px;
    }

    &_small {
      left: 10px;
    }
    &_opposite {
      left: 310px;
    }

    &_opposite-where {
      left: 329px;
    }

    &_sofa {
      background-position: 0 0;
    }
    &_kitchen {
      background-position: -176px 0;
    }
    &_sanitary {
      background-position: -346px 0;
    }
    &_bed {
      background-position: -520px 0;
    }
    &_table-chair {
      background-position: -174px -251px;
    }
    &_children-furniture {
      background-position: -524px -127px;
    }
    &_light {
      background-position: -350px -129px;
    }
    &_wardrobe {
      background-position: -172px  -127px;
    }
    &_other {
      background-position: -5px -256px;
    }
    &_restaurant {
      background-position: 3px -129px;
    }

    &_salons {
      top: 47px;
      width: 245px;
      height: 245px;
      margin-left: -125px;
      background-position: 0 -389px;
    }

    &_info {
      background-position: -603px -260px;
      margin-left: 0;
    }

    &_discounts {
      background-position: -357px -263px;
      margin-left: 0;
    }

    &_toilet {
      background-position: -520px -261px;
      margin-left: 0;
    }

    &_where {
      background-position: -438px -261px;
      margin-left: 0;
    }

  }

  &__text {
    position: absolute;
    left: 0;
    bottom: 12px;
    display: block;
    text-align: center;
    width: 100%;
    //font: inherit;

    font: 400 30px/1 "Myriad Pro";

    &_salons {
      font: 400 61px/1.1 "Myriad Pro";
      bottom: 36px;
      letter-spacing: 3px;
    }
    &_small {
      bottom: 50%;
      margin-bottom: -17px;
      & .btn__text-word {
        padding-left: 34px;
        &_discounts {
          padding-left: 73px;
        }
        &_opposite {
          padding-left: 0;
          padding-right: 74px;
        }
        &_opposite-where {
          padding-left: 0;
          padding-right: 50px;
        }
      }
    }


  }
}